<div class="bg-pink2">
    <div class="container">
        <div class="row row-8">
            <div class="col-sm-4 col-left">
                <div class="mod-contact">
                    <h2>liên hệ</h2>
                    <ul class="ls-none">
                        <li><i class="fa fa-home" aria-hidden="true"></i> Số 131, đường 30/4, tp.TDM, tỉnh Bình Dương</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> bookcoffee.vn@gmail.com</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> 092.123.456 - 0126.356.789</li>
                    </ul>
                </div>
                <hr class="hr-gray">
                <div class="fourteen-space hidden-xs"></div>
                <address>
                    © 2015 Copyright Book Coffee & P&S Software Co., Ltd. All right reserved. <br>
                    Bản quyền thuộc về  bảo vệ Book Coffee và Công ty Phần mềm P&S <br>
                    Thiết kế và phát triển bởi <a href="#" title="P&S SOFTWARE">P&S SOFTWARE</a>
                </address>
            </div>
            <div class="three-space visible-xs"></div>
            <div class="col-sm-8 col-right">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.8212642742556!2d106.669904814216!3d10.976859958465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d126231ce10f%3A0x6beace6f7c71699a!2zMTMxIEJhIE3GsMahaSB0aMOhbmcgVMawLCB0cC4gVGjhu6cgROG6p3UgTeG7mXQsIELDrG5oIETGsMahbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1449331634759" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
