<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- plugin css -->
    <link rel="stylesheet" href="/Assets/Client/styles/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/Assets/Client/styles/libs/slick.css" />
    <link rel="stylesheet" href="/Assets/Client/styles/libs/slick-theme.css" />
    <link rel="stylesheet" href="/Assets/Client/styles/libs/colorbox.css" />
    <link rel="stylesheet" href="/Assets/Client/styles/libs/font-awesome.css" />
    <link rel="stylesheet" href="/Assets/Client/styles/libs/nivo-slider.css" />

    <!--DatePicker-->
    <link href="~/Assets/Admin/JQueryDatePicker/jquery-ui.css" rel="stylesheet" />
    <!--./-->

    <!-- main css site -->
    @*<link rel="stylesheet" href="~/Assets/Client/assets/styles/main.css">*@
    <link rel="stylesheet" href="/Assets/Client/styles/main.css" />
</head>
<body>
    <div class="wrapper">
        <header id="header">
            @RenderPage("_Header.cshtml")
        </header>


        <main id="main-content">
                @RenderBody()
        </main>

        <footer id="footer" class="bg-pink color-white">
            @RenderPage("_Footer.cshtml")
        </footer>

    </div>
    <!-- PLUGIN JS -->
    <script src="/Assets/Client/scripts/libs/jquery.min.js"></script>
    <script src="/Assets/Client/scripts/libs/bootstrap.min.js"></script>
    <script src="/Assets/Client/scripts/libs/slick.min.js"></script>
    <script src="/Assets/Client/scripts/libs/jquery.colorbox.min.js"></script>
    <script src="/Assets/Client/scripts/libs/jquery.nivo.slider.js"></script>
    <script src="/Assets/Client/scripts/libs/isotope.pkgd.min.js"></script>

    <script src="~/Assets/gistfile1.js"></script>

    <!--Datepicker-->
    <script src="~/Assets/Admin/JQueryDatePicker/jquery-ui.js"></script>

    <!-- DataTables JavaScript -->
    <script src="~/Assets/Admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>

    <!-- main js site-->
    <script src="/Assets/Client/scripts/main.js"></script>

    <!-- call slider  -->
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider-nivo').nivoSlider();
            $('#slider2').nivoSlider();
        });
    </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
        $(function () {
            $("#datepicker2").datepicker();
        });
    </script>
   
</body>
</html>
@RenderSection("scriptNest", required: false)