<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900" rel="stylesheet">
    <!-- plugin css -->
    <link rel="stylesheet" href="~/Assets/Client/assets/styles/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/Client/assets/styles/libs/slick.css" />
    <link rel="stylesheet" href="~/Assets/Client/assets/styles/libs/slick-theme.css" />
    <link rel="stylesheet" href="~/Assets/Client/assets/styles/libs/colorbox.css" />
    <link rel="stylesheet" href="~/Assets/Client/assets/styles/libs/font-awesome.css" />
    <link rel="stylesheet" href="~/Assets/Client/assets/styles/libs/nivo-slider.css" />

    <!-- main css site -->
    <link rel="stylesheet" href="~/Assets/Client/assets/styles/main.css">

</head>
<body>
    <div class="wrapper">
        <header id="header">
            @RenderPage("_Header.cshtml")
        </header>

        <main id="main-content">
            @RenderBody()
        </main>

        <footer id="footer" class="bg-pink color-white">
            @RenderPage("_Footer.cshtml")
        </footer>
    </div>
    <!-- PLUGIN JS -->
    <script src="~/Assets/Client/assets/scripts/libs/jquery.min.js"></script>
    <script src="~/Assets/Client/assets/scripts/libs/bootstrap.min.js"></script>
    <script src="~/Assets/Client/assets/scripts/libs/slick.min.js"></script>
    <script src="~/Assets/Client/assets/scripts/libs/jquery.colorbox.min.js"></script>
    <script src="~/Assets/Client/assets/scripts/libs/jquery.nivo.slider.js"></script>

    <!-- main js site-->
    <script src="~/Assets/Client/assets/scripts/main.js"></script>

    <!-- call slider  -->
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider-nivo').nivoSlider();
            $('#slider2').nivoSlider();

            //Tạm thời không dùng chức năng này
            //$('.item .thumnail').click( function (e) {
            //    e.preventDefault();
            //    //Lấy giá trị từ nơi được chọn
            //    var id = $(this).find('.box-img a').data('id');
            //    var href = $(this).find('.box-img a[data-id=' + id + ']').attr('href');
            //    var src = $(this).find('.box-img a[data-id=' + id + '] img').attr('src');
            //    var content = $(this).find('.box-text h3 a[data-id=' + id + ']').text();

            //    //gán lên phía trên
            //    $('.theme-default.dots-none .title-news h3 a').text(content);
            //    $('.theme-default.dots-none .title-news h3 a').attr('href', href);
            //    $('.theme-default.dots-none .title-news h3 a').attr('title', content);

            //    $('.theme-default.dots-none #slider-nivo.nivoSlider a').attr('href', href);
            //    $('.theme-default.dots-none #slider-nivo.nivoSlider img').attr('src', src);
            //});
        });
    </script>
</body>
</html>