@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
}

@section scriptNest{
<link rel="stylesheet" href="~/Assets/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script src="~/Assets/prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">
         ul li {
            display: inline;
        }
    </style>
    @*<style type="text/css" media="screen">
        * {
            margin: 0;
            padding: 0;
        }

        /*body {
            background: #282828;
            font: 62.5%/1.2 Arial, Verdana, Sans-Serif;
            padding: 0 20px;
        }*/

        h1 {
            font-family: Georgia;
            font-style: italic;
            margin-bottom: 10px;
        }

        h2 {
            font-family: Georgia;
            font-style: italic;
            margin: 25px 0 5px 0;
        }

        p {
            font-size: 1.2em;
        }

       

        .wide {
            border-bottom: 1px #000 solid;
            width: 4000px;
        }

        .fleft {
            float: left;
            margin: 0 20px 0 0;
        }

        .cboth {
            clear: both;
        }

        #main {
            background: #fff;
            margin: 0 auto;
            padding: 30px;
            width: 1000px;
        }
    </style>*@

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("a[rel^='prettyPhoto']").prettyPhoto({ social_tools: '' });          
        });
    </script>
}
<div id="main">
    <h2>Gallery</h2>
    <ul class="gallery clearfix">
        <li>
            <a href="~/Assets/prettyPhoto/images/fullscreen/1.JPG?lol=lol" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                <img src="~/Assets/prettyPhoto/images/thumbnails/t_1.jpg" width="60" height="60" alt="Red round shape" />
            </a>
        </li>
        <li>
            <a href="~/Assets/prettyPhoto/images/fullscreen/2.jpg" rel="prettyPhoto[gallery1]">
                <img src="~/Assets/prettyPhoto/images/thumbnails/t_2.jpg" width="60" height="60" alt="Nice building" />
            </a>
        </li>
        <li>
            <a href="~/Assets/prettyPhoto/images/fullscreen/3.jpg" rel="prettyPhoto[gallery1]">
                <img src="~/Assets/prettyPhoto/images/thumbnails/t_3.jpg" width="60" height="60" alt="Fire!" />
            </a>
        </li>
        <li>
            <a href="~/Assets/prettyPhoto/images/fullscreen/4.jpg" rel="prettyPhoto[gallery1]">
                <img src="~/Assets/prettyPhoto/images/thumbnails/t_4.jpg" width="60" height="60" alt="Rock climbing" />
            </a>
        </li>
        <li>
            <a href="~/Assets/prettyPhoto/images/fullscreen/5.jpg" rel="prettyPhoto[gallery1]">
                <img src="~/Assets/prettyPhoto/images/thumbnails/t_5.jpg" width="60" height="60" alt="Fly kite, fly!" />
            </a>
        </li>
        <li>
            <a href="~/Assets/prettyPhoto/images/fullscreen/6.jpg" rel="prettyPhoto[gallery1]">
                <img src="~/Assets/prettyPhoto/images/thumbnails/t_2.jpg" width="60" height="60" alt="Nice building" />
            </a>
        </li>
    </ul>

</div>
